:root {
    --first-color: #3A98B9;
    --second-color: rgb(255, 241, 220);
    --third-color: #E8D5C4;
    --fourth-color: #EEEEEE;
}
.register-body {
    background-image: url('https://img.freepik.com/free-photo/top-view-tropical-leaves-vibrant-background-summer-flat-lay-composition_1182-2687.jpg?w=1060&t=st=1685976409~exp=1685977009~hmac=ac71c55b779990d404c3dabe0eed7cd0b16f7c7c12d814643a877fd693b597db') !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    height: 90vh !important;

}

.form-container {
    position: absolute !important;
    top: 200px !important;
    left: 630px !important;
    background-color:rgba(255, 255, 255, 0.43) !important;

}

.regTitle{
    color: var(--first-color) !important;
    font-weight: bold !important;
    padding-bottom: 10px !important;
}

.my-button {
    background-color: var(--first-color) !important;
    color: var(--second-color) !important;
    border: none !important;
    font-weight: bold !important;
}

.my-button:hover {
        background-color: var(--second-color) !important;
        color: var(--first-color) !important;
        border: 2px solid #3A98B9 !important;
        font-weight: bold !important;

}