:root {
    --first-color: #3A98B9;
    --second-color: #FFF1DC;
    --third-color: #E8D5C4;
    --fourth-color: #EEEEEE;
}
.bg-store{
    background-color: var(--second-color);
    padding-left: 70px;
}
.bg-card{
    background-color: var(--third-color);
}
.store-title{
    color: var(--first-color);
}
.pmsign{
    width: 30px;
    border-radius: 50%;
    border: 1px solid var(--third-color);
}

.myTable th{
    background-color: var(--third-color) !important;
    color: var(--first-color) !important;
}
.myTable td{
    background-color: var(--third-color) !important;
    color: var(--first-color) !important;
}
th, td {
    padding: 15px !important;
    border: 1px solid #3A98B9 !important;
}
